.left {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 130px 0;
}

.firstSection > div {
  width: 30%;
}

.leftSection {
  font-size: 2rem;
}

.rightSection img {
  width: 80%;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.secondSection h1 {
  font: 1.9rem;
}

.secondSection box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
}

.text-gray {
  color: gray;
}
.text-purple {
  color: blueviolet;
}
